* {
  color: #f4efe0;
  background-color: #070322;
  font-family: "Source Serif 4", serif;
}
nav {
  background: #070322;
  text-align: center;
  padding: 0;
}

.nav-title {
  /*
  height: 60px;
  font-size: 23px;
  font-family: "Source Serif 4", serif;
  word-spacing: 2px;
  line-height: 60px;
  padding: auto; */
  background: #070322;
  margin: 0 15px;
  padding: 0 20px;
  color: #f4efe0;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
#cre-acc {
  text-decoration: none;
}

h1 {
  padding: 20px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  text-align: center;
}
h2 {
  text-align: center;
  padding: 20px;
}
p {
  text-align: center;
  font-size: 15px;
}

label {
  text-align: left;
  font-size: 15px;
  display: block;
  margin-left: 35%;
  padding-bottom: 10px;
  padding-top: 20px;
}
input[type="email"],
input[type="password"] {
  text-align: left;
  display: block;
  box-sizing: border-box;
  margin-left: 35%;
  margin-bottom: 20px;
  width: 30%;
  height: 30%;
  padding: 20px;
}
.forgot-link {
  margin-left: 35%;
  font-size: 15px;
  text-decoration: none;
}
.login-button {
  background-color: #f4efe0;
  color: #070322;
  font-size: 15px;
  width: 150px;
  height: 50px;
  margin-left: 46%;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 9px;
}
a {
  margin-left: 45%;
  font-size: 15px;
  text-decoration: none;
  font-size: 20px;
}

footer {
  background-color: #070322;
  padding: 30px;
  color: #f4efe0;
}

h3 {
  padding: auto;
  text-align: center;
  font-size: 30px;
  color: #f4efe0;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
.footer-title {
  color: #f4efe0;
  text-decoration: none;
  background: #070322;
  font-family: "Source Serif 4", serif;
  margin-left: -6px;
  font-size: 20px;
}

.footer-main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 10px;
}

.footer-column {
  width: 30%;
}

h4 {
  font-size: 17px;
  color: #f4efe0;
  margin-bottom: 15px;
  margin-right: 20px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: "Source Serif 4", serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  background: none;
  color: #f4efe0;
  font-size: 15px;
  line-height: 1.8;
  display: block;
  padding: 0;
  margin-bottom: 8px;
  margin-left: auto;
  text-decoration: none;

  font-family: "Source Serif 4", serif;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  color: #c9a04c;
  font-size: 45px;
}
/* --- Footer Styling --- */
footer {
  background-color: #070322;
  padding: 30px;
  color: #f4efe0;
}

h3 {
  padding: auto;
  text-align: center;
  font-size: 30px;
  color: #f4efe0;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
.footer-title {
  color: #f4efe0;
  text-decoration: none;
  background: #070322;
  font-family: "Source Serif 4", serif;
}

.footer-main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 10px;
}

.footer-column {
  width: 30%;
}

h4 {
  font-size: 17px;
  color: #f4efe0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: "Source Serif 4", serif;
  margin-left: -3px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  background: none;
  color: #f4efe0;
  font-size: 15px;
  line-height: 1.8;
  display: block;
  padding: 0;
  font-family: "Source Serif 4", serif;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  color: #c9a04c;
  font-size: 45px;
}
