* {
  font-family: "Source Serif 4", serif;
  background-color: #070322;
  color: #f4efe0;
}
h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin: 0;
  font-family: "Playfair Display", serif;
}
nav {
  background: #070322;
  text-align: center;
  padding: 0;
}

.nav-title {
  /*
      height: 60px;
      font-size: 23px;
      font-family: "Source Serif 4", serif;
      word-spacing: 2px;
      line-height: 60px;
      padding: auto; */
  background: #070322;
  margin: 0 15px;
  padding: 0 20px;
  color: #f4efe0;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  padding: 20px;
  font-family: "Source Serif 4", serif;
}
p {
  text-align: center;
  font-size: 20px;
}
.login-form {
  color: #f4efe0;
  background-color: #070322;
  font-family: "Source Serif 4", serif;
}

label {
  text-align: left;
  font-size: 20px;
  display: block;
  margin-left: 35%;
  padding-bottom: 10px;
  padding-top: 20px;
}
select,
title {
  text-align: left;
  font-size: 20px;
  display: block;
  margin-left: 35%;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 30%;
  color: #f4efe0;
}

input[type="name"],
input[type="email"],
input[type="password"] {
  text-align: left;
  display: block;
  box-sizing: border-box;
  margin-left: 35%;
  margin-bottom: 20px;
  width: 30%;
  height: 30%;
  padding: 20px;
}

h5 {
  font-size: 15px;
  margin-left: 35%;
  width: 30%;
  padding-bottom: 10px;
  font-weight: normal;
}
.login-button {
  background-color: #f4efe0;
  color: #070322;
  font-size: 20px;
  width: 250px;
  height: 70px;
  margin-left: 43%;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 9px;
  padding: 8px;
}
/* --- Footer Styling --- */
footer {
  background-color: #070322;
  padding: 30px;
  color: #f4efe0;
}

h3 {
  padding: auto;
  text-align: center;
  font-size: 35px;
  color: #f4efe0;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
.footer-title {
  color: #f4efe0;
  text-decoration: none;
  background: #070322;
  font-family: "Source Serif 4", serif;
}

.footer-main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 10px;
}

.footer-column {
  width: 30%;
}

h4 {
  font-size: 22px;
  color: #f4efe0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: "Source Serif 4", serif;
  margin-left: -3px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  background: none;
  color: #f4efe0;
  font-size: 19px;
  line-height: 1.8;
  display: block;
  padding: 0;
  font-family: "Source Serif 4", serif;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #c9a04c;
  font-size: 45px;
}
