* {
  font-family: "Source Serif 4", serif;
  background-color: #070322;
  color: #f4efe0;
}
body {
  background-color: #070322;
  color: #f4efe0;
  font-family: "Source Serif 4", serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin: 0;
  font-family: "Playfair Display", serif;
}
nav {
  background: #070322;
  text-align: center;
  padding: 0;
}

.nav-title {
  background: #070322;
  margin: 0 15px;
  padding: 0 20px;
  color: #f4efe0;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Source Serif 4", serif;
}
hr {
  margin: 0;
  border: none;
  border-top: 1px solid #c9a04c;
}

h1 {
  color: #f4efe0;
  padding: 20px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 60px 100px;
}

.product img {
  width: 100%;
  transition: transform 0.5s ease;
  display: block;
}

.product:hover img {
  transform: scale(1.1);
}

.name {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  color: #f4efe0;
  font-family: serif;
}
.def {
  text-align: justify;
}
.product:hover .name {
  bottom: 10px;
}

.sig-tit {
  margin: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 6px;
  color: #f4efe0;
  font-size: 50px;
  font-family: "Source Serif 4", serif;
}
.sig-p {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 6px;
}
/*carousel  */
.collection-slider {
  padding: 80px 0;
  background: #070322;
}

.three-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.slider-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* arrows outside */
.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}

.slider-img:hover {
  transform: scale(1.04);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .three-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  background-color: #070322;
  padding: 30px;
  color: #f4efe0;
}

h3 {
  padding: auto;
  text-align: center;
  font-size: 35px;
  color: #f4efe0;
  margin-bottom: 20px;
  font-family: "Source Serif 4", serif;
}
.footer-title {
  color: #f4efe0;
  text-decoration: none;
  background: #070322;
  font-family: "Source Serif 4", serif;
}
.footer-div {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
.footer-main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 10px;
}

.footer-column {
  width: 30%;
}

h4 {
  font-size: 22px;
  color: #f4efe0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: "Source Serif 4", serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  background: none;
  color: #f4efe0;
  font-size: 19px;
  line-height: 1.8;
  display: block;
  padding: 0;
  font-family: "Source Serif 4", serif;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #c9a04c;
  font-size: 25px;
}
