* {
  color: #f4efe0;
  background-color: #070322;
  font-family: "Source Serif 4", serif;
}

nav {
  background: #c9a04c;
  text-align: center;
  padding: 0;
}

.nav-title {
  /*
  height: 60px;
  font-size: 23px;
  font-family: "Source Serif 4", serif;
  word-spacing: 2px;
  line-height: 60px;
  padding: auto; */
  background: #c9a04c;
  margin: 0 15px;
  padding: 0 20px;
  color: #070322;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}
h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Playfair Display", serif;
}
#def {
  color: #c9a04c;
  text-align: center;
  font-size: 40px;
}
p {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
}
span {
  color: #c9a04c;
  font-weight: bold;
}
.gradient-line {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: linear-gradient(90deg, #c9a04c, #f4efe0);
}

h2 {
  font-size: 30px;
  padding: 10px;
}

img {
  max-width: 100%;
  border-radius: 9px;
  size: 50%;
}
table {
  position: relative;
}
/* --- Footer Styling --- */
footer {
  background-color: #070322;
  padding: 30px;
  color: #f4efe0;
}

h3 {
  padding: auto;
  text-align: center;
  font-size: 35px;
  color: #f4efe0;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
.footer-title {
  color: #f4efe0;
  text-decoration: none;
  background: #070322;
  font-family: "Source Serif 4", serif;
}

.footer-main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 10px;
}

.footer-column {
  width: 30%;
}

h4 {
  font-size: 22px;
  color: #f4efe0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: "Source Serif 4", serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  background: none;
  color: #f4efe0;
  font-size: 19px;
  line-height: 1.8;
  display: block;
  padding: 0;
  font-family: "Source Serif 4", serif;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #c9a04c;
  font-size: 45px;
}
