* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #070322;
  color: #f4efe0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  background: #c9a04c;
  text-align: center;
  padding: 0;
}

.nav-title {
  /*
  height: 60px;
  font-size: 23px;
  font-family: "Source Serif 4", serif;
  word-spacing: 2px;
  line-height: 60px;
  padding: auto; */
  background: #c9a04c;
  margin: 0 15px;
  padding: 0 20px;
  color: #070322;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Source Serif 4", serif;
}
a {
  text-decoration: none;
}
video {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#def {
  font-weight: bold;
  margin: 20px;
  color: #c9a04c;
  text-align: center;
  font-size: 40px;
  font-family: "Source Serif 4", serif;
}
header p {
  font-size: 23px;
  text-align: center;
  list-style: 1.6px;
  font-family: "Playfair Display", serif;
  margin-left: 20%;
  margin-right: 20%;
}

span {
  color: #c9a04c;
  font-weight: bold;
}
.gradient-line {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: linear-gradient(90deg, #c9a04c, #f4efe0);
}

.abt-tit {
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 10px;
  font-family: "Source Serif 4", serif;
}

.line {
  margin-top: 20px;
  border-bottom: dashed #c9a04c 3px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* about brand  section */
.container {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 60px auto;
}

.box-1,
.box-2 {
  width: 50%;
}

.box-1 {
  display: flex;
  justify-content: center;
}
.box-2 {
  padding-left: 10%;
  text-align: left;
}
.abt-p {
  text-align: left;
  margin-left: -100px;
  margin-top: 20px;
  line-height: 1.6;
  font-size: 23px;
  font-family: "Source Serif 4", serif;
}

.about-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 12px;
  margin-right: 150px;
}

.abt-h2 {
  font-weight: bold;
  text-align: left;
  font-size: 50px;
  margin-left: auto;
  color: #c9a04c;
  font-family: "Source Serif 4", serif;
  margin-left: -100px;
}

/* signature collection */
.sig-tit {
  font-weight: bold;
  text-align: left;
  margin-left: 6px;
  color: #f4efe0;
  font-size: 50px;
  font-family: "Source Serif 4", serif;
}
.sig-p {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 6px;
}
/*carousel  */
.collection-slider {
  padding: 80px 0;
  background: #070322;
}

.three-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.slider-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* arrows outside */
.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}

.slider-img:hover {
  transform: scale(1.04);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .three-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* --- Footer Styling --- */
footer {
  background-color: #070322;
  padding: 30px;
  color: #f4efe0;
}

h3 {
  padding: auto;
  text-align: center;
  font-size: 35px;
  color: #f4efe0;
  margin-bottom: 20px;
  font-family: "Source Serif 4", serif;
}
.footer-title {
  color: #f4efe0;
  text-decoration: none;
  background: #070322;
  font-family: "Source Serif 4", serif;
}

.footer-main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 10px;
}

.footer-column {
  width: 30%;
}

h4 {
  font-size: 22px;
  color: #f4efe0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: "Source Serif 4", serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  background: none;
  color: #f4efe0;
  font-size: 19px;
  line-height: 1.8;
  display: block;
  padding: 0;
  font-family: "Source Serif 4", serif;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #c9a04c;
  font-size: 25px;
}
